/*!
 Project   : Sassy WordPress Theme
 Purpose   : Admin Area CSS
 Author    : precisethemes
 Theme URI : https://precisethemes.com/
 */
/*--------------------------------------------------------------
# Backend Setting Page
--------------------------------------------------------------*/
.metabox-container::before,
.metabox-container::after {
    content: '';
    clear: both;
    display: table;
}

.flex {
    display: flex;
}

.theme-info {
    justify-content: space-between;
}

.theme-info .theme-details,
.theme-info .theme-screenshot {
    width: calc(50% - 30px);
}

.theme-info .theme-screenshot img {
    width: 100%;
    max-width: 520px;
    height: auto;
}

.theme-info h1 {
    font-size: 3em;
    line-height: 1.2;
}

.theme-info h4 {
    font-size: 1.5em;
}

.theme-info p {
    margin-top: 2.5em;
    font-size: 15px;
    line-height: 1.8;
}

.metabox-settings-tabs {
    margin-top: 6px;
}

.metabox-settings-tabs section {
    border-bottom: 1px solid #ddd;
}

.metabox-settings-tabs section:nth-last-of-type(1) {
    border-bottom: 0;
}

.metabox-tab-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.metabox-tab-nav li {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #e5e5e5;
    margin-bottom: -1px;
    margin-left: -5px;
    cursor: pointer;
    background: none;
    color: #222;
}

.metabox-tab-nav li:nth-of-type(1) {
    margin-left: 0;
}

.metabox-tab-nav li.active {
    border-bottom-color: #f4f4f4;
    background: #f4f4f4;
    color: #222;
}

.setting-tab {
    display: none;
    border: 1px solid #e5e5e5;
    background: #f4f4f4;
    padding: 15px;
}

.setting-tab.active{
    display: inherit;
}

.setting-tab table {
    border-spacing: 0;
}

.setting-tab table tbody {
    display: block;
    border: 1px solid #d0d0d0;
}

.setting-tab table tbody td {
    border-bottom: 1px solid #d0d0d0;
    text-align: center;
    padding: 0 20px;
    height: 40px;
}

.setting-tab table tbody tr:nth-of-type(1) td {
    font-size: 18px;
    font-weight: 500;
}

.setting-tab table tbody tr:nth-last-of-type(1) td {
    border-bottom: 0;
}

.setting-tab table tbody tr td:nth-of-type(1) {
    text-align: left;
    font-weight: 500;
}

.setting-tab .dash-green {
    color: #5ad15a;
    font-size: 28px;
    height: auto;
    width: auto;
}

.setting-tab .dash-red {
    color: #fc6f6f;
    font-size: 28px;
    height: auto;
    width: auto;
}

/*--------------------------------------------------------------
# MetaBox Wrap
--------------------------------------------------------------*/
.meta-box-wrap section {
    margin-bottom: 10px;
}

.meta-box-wrap section:nth-last-of-type(1) {
    margin-bottom: 0;
}

.meta-box-wrap .input-holder {
    margin-bottom: 18px;
}

.meta-box-wrap .input-holder:nth-last-of-type(1) {
    margin-bottom: 20px;
}

.meta-box-wrap .input-label {
    margin-bottom: 5px;
}

.meta-box-wrap .input-label label {
    font-weight: 500;
    cursor: auto;
}

.meta-box-wrap .input-field select {
    width: 100%;
    max-width: 320px;
    height: 32px;
    padding: 0 6px;
    box-shadow: none;
}

.meta-box-wrap .input-field input[type="text"],
.meta-box-wrap .input-field input[type="number"],
.meta-box-wrap .input-field input[type="url"],
.meta-box-wrap .input-field textarea,
.fa-icon-code {
    width: 100%;
    border: 1px solid #d0d0d0;
    box-shadow: none;
    padding: 5px 10px;
    border-radius: 2px;
}

.meta-box-wrap .input-field textarea {
    min-height: 120px;
}

.meta-box-wrap .input-w-60 {
    max-width: 60px !important;
}

.meta-box-wrap .input-w-120 {
    max-width: 120px !important;
}

.meta-box-wrap .input-w-240 {
    max-width: 240px !important;
}

.meta-box-wrap .input-w-320 {
    max-width: 320px !important;
}

.meta-box-wrap .input-w-480 {
    max-width: 480px !important;
}

.meta-box-wrap .sortable-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    font-size: 17px;
    color: #444;
    background: #fff;
}

.meta-box-wrap .sortable-row:hover {
    color: #59595b;
    cursor: move;
}

.meta-box-wrap .input-field .button {
    border: 0;
    color: #fff;
    background: #717173;
    box-shadow: none;
    vertical-align: top;
}

.meta-box-wrap .input-field .button:hover {
    background: #59595b;
}

.meta-box-wrap a.button.remove-li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 35px;
    z-index: 99;
    width: 32px;
    height: 32px;
    padding-top: 4px;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    font-size: 12px;
    line-height: 1;
    color: #444;
    background: #fff;
    transition: all .35s;
}

.meta-box-wrap a.button.remove-li:hover {
    color: #fff;
    background: #ee796e;
}

.meta-box-wrap .shortcode-wrap {
    background: #f6f6f6;
    padding: 10px 25px;
    display: inline-block;
    border: 2px dashed #b7b7b9;
}

.meta-box-wrap .button-field {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
    margin-bottom: 15px;
    background: #e7e7e7;
}

.meta-box-wrap .button-field .button-link-target {
    width: 250px;
}

.meta-box-wrap .button-field input[type=checkbox] {
    margin-top: 0;
    margin-left: 10px;
}

.meta-box-wrap .button-field.empty-button-li {
    display: none;
}

.meta-box-wrap .visible-on span {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 15px;
}

#post_meta_fields .metabox-reset-settings {
    margin-top: 7px
}

#post_meta_fields .metabox-reset-settings .metabox-reset-btn {
    display: block;
    float: left
}

#post_meta_fields .metabox-reset-settings .metabox-reset-checkbox {
    float: left;
    display: none;
    margin-left: 10px;
    padding-top: 5px
}

/*--------------------------------------------------------------
# Page/Post Layout Selector
--------------------------------------------------------------*/
#specific-page-layout input[type="radio"]{
    display: none;
}

#specific-page-layout label {
    position: relative;
    display: inline-block;
    width: 180px;
    height: 158px;
    border: 2px solid #E3E3E4;
    margin-top: 18px;
    margin-right: 20px;
    transition: .5s;
}

#specific-page-layout label.has-right-sidebar {
    margin-right: 0;
}

#specific-page-layout input[type="radio"]:checked+label {
    border-color: #3498DB;
}

#specific-page-layout label::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#specific-page-layout label.has-default-sidebar::before {
    background: url("../images/post-layout/default-sidebar.svg") no-repeat;
}

#specific-page-layout label.has-left-sidebar::before {
    background: url("../images/post-layout/left-sidebar.svg") no-repeat;
}

#specific-page-layout label.has-full-width::before {
    background: url("../images/post-layout/no-sidebar.svg") no-repeat;
}

#specific-page-layout label.has-right-sidebar::before {
    background: url("../images/post-layout/right-sidebar.svg") no-repeat;
}

/*--------------------------------------------------------------
# Post Type: Image Gallery
--------------------------------------------------------------*/
.metabox_gallery_images .thumbnail {
    width: 120px;
    height: 120px;
}

.metabox_gallery_images .thumbnail {
    cursor: move
}

.metabox_gallery_images .sassy-metabox-shortable-placeholder {
    width: 120px;
    height: 120px;
    border: 3px dashed #a8a8a8;
    background: #f4f4f4;
}

.metabox_gallery_images li a.sassy-gallery-image-remove {
    position: absolute;
    right: -8px;
    top: -5px;
    width: 20px;
    height: 17px;
    padding-top: 3px;
    background: rgba(0,0,0,.65);
    border-radius: 12px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    text-decoration: none;
    z-index: 99;
}

.metabox_gallery_images li a.sassy-gallery-image-remove:hover {
    background: rgba(255,0,0,.85);
}

.metabox_gallery_images > li {
    display: inline-block;
    cursor: move;
    margin: 10px 10px 0 0;
}

.metabox_gallery_images li.image {
    position: relative;
    width: 120px;
    height: 120px;
}

.metabox_gallery_images li.image img {
    width: 100%;
    height: 100%;
}
